@use '../common_css/Variables.scss';

.boardWrap{
  // border-radius: 30px;
  // border: 1px gray solid;
  width: 700px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  .writeBtn{
    width: 200px;
    height: 30px;
    background-color: hsl(46, 75%, 57%);
    color: white;
    font-weight: 700;
    border: none;
  }

  .boardComponent {
    padding:5%;
    width: 90%;
    height: 150px;
    // background-color: bisque;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 15px;
    border: 1px gray solid;
    margin-top: 30px;
    
    .componentTopWrap{
      display: flex;

      .studyProfileImg{
        margin-right: 10px;
        border-radius: 50%;
        font-weight: 700;
        background-color: rgb(179, 240, 181);
        width: 30px;
        height: 30px;
        text-align: center;

      }

      .studyWriter{
        margin-right: 10px;
      }

      .studyTime{
        margin-right: 10px;
      }
    }

    .overText {
      text-align: left;
      white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 설정 */
      overflow: hidden; /* 넘친 컨텐츠를 숨기고, text-overflow 적용 */
      text-overflow: ellipsis; /* 넘친 텍스트를 ...으로 대체 */
      width: 600px;
      height: 36px;
      
      &.studyTitle {
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        
      }
      
      &.studyContents{
       font-size: 18px;
       line-height: 36px;
      }
    
    }
  }
}

